.data {
  background: linear-gradient(180deg, #d9e7ff 0%, #93aedc 35%);
}
.data__title {
  margin-top: 0;
  font-family: "Antonio", Arial, sans-serif;
  margin-left: 80px;
}
.data__span-accent {
  color: #d37c0b;
}
.data__description {
  font-family: "Roboto Mono", "Times New Roman", serif;
  margin-left: 80px;
  margin-right: 600px;
}
.data__description-span {
  color: #d37c0b;
}
.data__description-span:hover {
  cursor: pointer;
}
