.footer {
  background: linear-gradient(180deg, #fdf85d 0%, #d37c0b 100%);
  padding: 60px 100px 60px 80px;
  box-sizing: border-box;
}
.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__copyrights {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 108px 0 0 0;
}
