.header {
  background: #d9e7ff url() no-repeat center/cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.header__title {
  max-width: 729px;
  margin: 202px 0 0 80px;
  display: flex;
  flex-direction: column;
  font-family: "Antonio", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}
.header__span-accent {
  color: #d37c0b;
  font-style: oblique;
}
.header__subtitle {
  max-width: 683px;
  margin: 28px 0 0 80px;
  font-family: "Roboto Mono", "Times New Roman", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__sun {
  background-color: #fdf85d;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  position: absolute;
  right: 550px;
  top: -265px;
  z-index: 1;
  box-shadow: 0 0 60px 10px #f85b1dbb;
}

.header__sun::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  /* background-color: #f3c282; */
  background-color: #f85b1d;
  border-radius: 50%;
}
.header__sun_animation_blurred {
  animation: pulsate 2.5s ease-in-out alternate-reverse infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.02);
    opacity: 1;
  }
}

.header__image {
  max-width: 800px;
  max-height: 800px;
  position: absolute;
  right: 0px;
  top: 240px;
}

@media screen and (max-width: 880px) {
  /* .header__image {
    margin-left: 27px;
  } */
}
@media screen and (max-width: 480px) {
  /* .header {
    padding-bottom: 32px;
    margin-bottom: 0;
  } */
  /* .header__image {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
    padding-left: 27px; */
}
